.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    
}
.StepsZone{
    display: flex;
    gap: 10px;
    color: #444;
}
.title{
    color: #222;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px
}

.header div:first-of-type{
    width: 10%;
    align-items: center;
    align-content: center;
    display: flex;
    margin-left: 8%;

}
.header div:last-of-type{
    width: 10%;
    margin-right: 8%;
    align-items: center;
    align-content: center;
    display: flex;
}

.header div h2 {
    color:rgb(148, 55, 230) ;
    font-weight: bold;
    font-size:xx-large ;
}
.formHeader h1{
    margin-bottom: 8px;
    text-align: center;
    color: #222;
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.formHeader p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 0;
    letter-spacing: .02em;
    color: #444;
}
.steps{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.step{
    width: 10%; 
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 100px;
}

.formZone{
    
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 5vh;
}
.form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.form>div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.formItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.formItem input[type=text], input[type=email] ,input[type=password],.FirstItem input,select{
    width: 100%;
    border: 1px solid rgb(217, 217, 217)  ;
    height: 48px;
    border-radius: 8px;
    padding: 0 16px;
    color: #555;
    font-weight: 400;
    letter-spacing: 2%;
    font-size: 14px;
    line-height: 19.2px;
    outline: none;
    transition-property: color,background-color,border-color;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;

}
select{
    width: 106%;
}
.formItem label,.FirstItem label{
   font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 6px;
    display: block;
    color: #444;
}
.FirstItem:first-of-type{
    display: flex;
    justify-content: space-between;
    text-align: start;
}
.formItem input[type=checkbox]{

  
    color: var(--white);
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: 4px;
}
.lastItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.lastItem input{
    color: white;
    background-color: rgb(148, 55, 230);
    border: 1px solid #666;
    border-radius: 4px;
}
.form button:first-of-type{
    display: block;
    width: 110%;
    padding: 10px;
    background-color: rgb(148, 55, 230);
    color: white;
    padding: 15px;
    font-size: medium;
    border-radius: 7px;
    border: none;
    transition: 1s;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; 
}

.form button:first-of-type:hover{
    background-color: rgb(170, 93, 237);

}
.back{
    background-color: #ffff;
    color: #444;
    display: block;
    width: 110%;
    padding: 10px;
   margin-top: 20px;
    padding: 15px;
    font-size: medium;
    border-radius: 7px;
    border: none;
    transition: 1s;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; 
}
.back:hover{
    background-color: rgb(229, 229, 252);   
}
.form hr {
    border: 0.px solid #666;
    width: 110%;
}
.form p {
    text-align: center;
    margin-top: -5px;
}


a{
    color: rgb(148, 55, 230);
    font-weight: bold;
    text-decoration: none;
}
.form input:focus{
    border: rgb(148, 55, 230) 1px solid;
}
.lastItem input[type=checkbox]:checked{
    background-color: rgb(148, 55, 230);
}
/* .form input: */
.icon{
    margin-left: -30px; 
    cursor: pointer;
    color: #aaa;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}
.icon:hover{
    color: rgb(148, 55, 230);
}
.password{
    display: flex;
    width:105%;
}
.password input{
    width: 110%;
}
.footer{
    margin-top: auto ;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    color: #aaa;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0 89px;
}
.footer ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

