
.container{
    width: 100%;
    display: flex;
    position: fixed;
}
.logo h2{
    color:rgb(148, 55, 230) ;
    font-weight: bold;
    font-size:xx-large ;
    text-align: center;
}
.formHeader{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: -15px;
}
.formHeader h1{
    margin-bottom: 8px;
    text-align: center;
    color: #222;
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.formHeader p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 0;
    letter-spacing: .02em;
    color: #444;
}
.formZone{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    margin-top: 15vh;
}


.formItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;

}
.formItem  input{
    width: 70%;
    border: 1px solid rgb(217, 217, 217)  ;
    height: 48px;
    margin: auto;
    border-radius: 8px;
    padding: 0 16px;
    color: #555;
    font-weight: 400;
    letter-spacing: 2%;
    font-size: 14px;
    line-height: 19.2px;
    outline: none;
    transition-property: color,background-color,border-color;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;

}
.formItem label{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #444;
    margin-left: 12%;
    margin-top: 10px;
    margin-bottom: -10px;
}


input:focus{
    border: rgb(148, 55, 230) 1px solid;
}
.lastZone{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin-top: 25px;
}

.lastZone button{
    display: block;
    width: 75%;
    padding: 10px;
    background-color: rgb(148, 55, 230);
    color: white;
    padding: 15px;
    font-size: medium;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: 1s;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; 
}
.lastZone button:hover{
    background-color: rgb(170, 93, 237);

}
.lastZone a{
    align-self: flex-end;
    margin-right: 10%;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}
.lastZone p {
    font-weight: 400;
    display: block;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: .02em;
    color: #666;
}
